* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card__courses__description {
  border: 1px solid black;
  border-radius: 16px;
  padding: 1rem;
}

.catalog {
  font-size: 1.5rem;
  color: red;
  font-weight: 500;
}

.catalog-title {
  font-weight: 600;
  font-size: 1.5rem;
}

.language-filter {
  display: flex;
  flex-direction: column;
}
