.campus-image {
  max-height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.training {
  transition: all linear 100ms;
}

.training:hover {
  background-color: #49aaee !important;
}

.training:hover > .training-arrow-white-link {
  color: #49aaee;
}

.training-name {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.training-description {
  font-size: 13px;
}

.bootcamp-preview {
  background-color: #49a9ee25;
}

.bootcamp-preview-hero {
  position: relative;
  z-index: 30;
  overflow: hidden;
}

.bootcamp-preview-hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 15px;
  pointer-events: none;
  background-image: url('./../../../assets/images/landing/trainings/bootcamp.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  z-index: 20;
}

@media only screen and (min-width: 1000px) {
  .bootcamp-preview-hero-bg,
  .join-section-bg {
    width: 80% !important;
  }

  .bootcamp-preview-hero-content,
  .join-section-content {
    width: 80%;
    margin-left: auto;
  }

  .join-section-content h2 {
    max-width: 50%;
  }
}

.bootcamp-preview-hero-content {
  z-index: 30;
}

.bootcamp-preview-hero-content .subscribe-link {
  width: fit-content;
  padding: 8px 16px;
  background: #fff;
  color: #49aaee;
  display: flex;
  align-items: center;
  font-size: 16px !important;
  border: 1px solid #fff;
  border-radius: 10px;
  font-weight: bold;
}

.bootcamp-preview-hero-content span {
  font-size: inherit;
  font-weight: inherit;
}

.bootcamp-training-image {
  max-width: 33%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.bootcamp-training {
  background-color: #fff;
}

.bootcamp-training-description {
  margin-left: 10px;
}

.bootcamp-training-description p {
  font-size: 14px;
  line-height: normal;
}

.join-section {
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.join-section-bg {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 100%;
  height: 100%;
  background-image: url('./../../../assets/images/landing/man.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  z-index: 20;
}

.join-section-content {
  max-width: 80%;
  z-index: 30;
}

.join-section-content h2 {
  color: white;
}

.join-section-content h2 span {
  color: #e5203d;
}

.join-section-content .subscribe-link {
  width: fit-content;
  padding: 8px 16px;
  background: #e5203d;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 16px !important;
  border: 1px solid #e5203d;
  border-radius: 10px;
  font-weight: bold;
}

.join-section-content span {
  font-size: inherit;
  font-weight: inherit;
}

.partner-logo {
  height: 20px;
  width: auto;
  z-index: 10;
}

a:hover {
  background: none;
}

.training-arrow-link {
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  rotate: 45deg;
  font-size: 28px;
  transition: all linear 100ms;
}

.training-arrow-white-link {
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  color: #e5203d;
  rotate: 45deg;
  font-size: 20px;
  transition: all linear 100ms;
}

.training-arrow-link:hover {
  background-color: #49aaee;
}

.check-icon {
  color: #000;
  padding: 1px;
  font-size: 18px;
  background-color: #fff;
  border-radius: 50%;
}
