.tool-panel-group button,
.tool-panel-group a {
  font-size: 1.1rem;
}

.tool-panel-group button {
  background: var(--love-light);
  color: var(--gray-00);
  font-weight: 600;
  font-size: 0.8rem;
  border: solid 2px var(--love-light);
  transition: all 0.3s ease;
}

.tool-panel-group button:hover {
  color: var(--love-light) !important;
  background: rgba(255, 255, 255, 0) !important;
  border: solid 2px var(--love-light) !important;
}

.tool-panel-group-mobile button,
.tool-panel-group-mobile a {
  font-size: 0.8rem;
}

.tool-panel-group-mobile {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  width: 100%;
  bottom: 0px;
}

.tool-panel-group-mobile > .btn-block,
.tool-panel-group-mobile > .dropdown > .btn-block {
  margin: 0 2px 0 0;
  padding: 5px 0;
}

.tool-panel-group .btn-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tool-panel-group-mobile .btn-group {
  display: block;
  width: 100%;
  margin: 0 2px;
}

.tool-panel-group-mobile .btn {
  margin-bottom: 0 !important;
}

.tool-panel-group .dropdown-menu {
  top: auto;
  bottom: 100%;
  width: calc(100% + 2px);
  text-align: center;
  min-width: 240px;
  left: -1px;
}

.tool-panel-group .dropdown-menu a {
  padding: 0.5rem;
}

#get-help-dropdown > .caret {
  transform: rotate(180deg);
}

.btn-dropdown {
  border-color: var(--gray-90);
  color: var(--gray-90);
}

.btn-dropdown:hover,
.btn-dropdown:focus {
  background: var(--gray-90);
  border-color: var(--gray-90) !important;
  color: var(--theme-color);
}
