small {
  font-size: 14px;
}

.pull {
  float: left;
}

.push {
  float: right;
}

img {
  width: 100%;
  display: block;
}

.title-color {
  color: var(--love-light);
}

.text-love-light {
  color: var(--love-light);
}

.card-index {
  color: rgb(255, 255, 255) !important;
  text-shadow: -1px -1px 0 #2b292b, 1px -1px 0 #2b292b, -1px 1px 0 #2b292b,
    1px 1px 0 #2b292b !important;
  font-weight: bold;
  font-size: 3rem;
  width: 10%;
  text-align: center;
}

.card-hr {
  height: 1px;
  background-color: #d2d2d2;
  border: none;
}

/*Card Styling*/

.card-py-5 {
  padding: 5% 0;
}

.card-unit-col-4 {
  margin: 2% 0;
  padding: 12px 0;
}

.card-item {
  padding: 0% 5%;
}

/*Card Flex Code*/

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.card-unit-col-4 {
  display: flex;
  flex-direction: row;
}

.card-unit-col-4 {
  width: 30%;
}

@media (max-width: 480px) {
  .card-unit-col-4 {
    width: 100%;
  }
}

.flexible {
  flex-grow: 1;
}
