.footer-section {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  width: 1140px;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
}

.footer-container__left-side {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  align-items: center;
  max-width: 300px;
  min-width: 10%;
}

.footer-container__left-side .footer-logo {
  width: 180px;
  margin-bottom: 20px;
}

.footer-container__left-side__description {
  font-size: 14px;
  color: #979797;
  line-height: 1.3;
  /* text-align: left; */
  text-align: center;
  margin-bottom: 20px;
}

.footer-container__left-side__social-icons {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-container__right-side {
  width: 70%;
}

.footer-container__right-side__menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer-container__right-side__menu p {
  margin-bottom: 30px;
  font-weight: 800;
}

.footer-container__right-side__menu p,
.footer-container__right-side__menu ul {
  text-align: left;
}

.footer-container__right-side__menu ul li {
  margin-bottom: 20px;
}

.footer-container__right-side__menu ul li {
  list-style-image: url('../../assets/images/footer-list-style.png');
}

.footer-container__right-side__menu > li > ul {
  margin-left: 10px;
}

.footer-container__right-side__menu ul li a {
  color: #1f1d0d;
}

@media (max-width: 1140px) {
  .footer-container {
    justify-content: center;
    width: 100%;
  }
  .footer-container__left-side {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    align-items: flex-start;
    margin-bottom: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .footer-container__left-side__description {
    width: 100%;
  }
  .footer-container__description {
    align-items: center;
    padding-right: 0rem;
  }
  .footer-container__description > p {
    padding-left: 3rem;
  }

  .footer-container > img {
    margin-bottom: 0px;
  }

  .footer-container__right-side {
    width: 100%;
  }
  .footer-container__right-side__menu {
    justify-content: space-between;
  }
  .footer-container__right-side__menu ul li a {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .footer-container__right-side__menu {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer-container__right-side__menu > li {
    width: 50%;
    margin-bottom: 20px;
    padding: 0 15px;
  }
}
