.large-p {
  font-size: 24px;
}

/* Buttons with a lot of text can overflow and mess up formatting on small
   screens, this stops that unless the word itself is too large. */

.btn {
  white-space: pre-line;
}

.cert-btn {
  margin-top: 40px;
}

.landing-page ul {
  list-style: none;
  padding-left: 0;
}

#featured-logos {
  max-width: 600px;
}
.landing-top h1:first-child {
  margin-top: 0;
}

/* 
.landing-page h1,
.landing-page h2,
.landing-page p {
   
}
 */

p.caption {
  margin: 10px 0 0;
  font-size: 0.8rem;
  color: var(--quaternary-color);
}

.as-seen-in {
  background-color: var(--love-light);
  color: var(--primary-background);
  padding: 4vw 0 6vw 0;
}

.as-seen-in .big-heading {
  color: var(--gray-00);
}

.as-seen-in .as-seen-in-text {
  color: var(--primary-background) !important;
}

.landing-page .big-heading {
  margin-bottom: 10px;
  font-size: 2rem !important;
  line-height: 1.1;
  font-weight: 700;
}

/* .hero-text {
  margin-bottom: 30px !important;
} */

.text-registration {
  color: #fff !important;
}

.landing-top-content {
  padding: 5px 0;
}

/*------Landing flex---------*/

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 10%;
  align-items: center;
}

.flex-child-hero {
  width: 50%;
}

.img-block {
  width: 80%;
  margin: 10px 0;
}

@media (max-width: 1024px) {
  .landing-top-content {
    padding: 0px;
  }
}

@media (max-width: 769px) {
  .landing-top-content {
    padding: 0px;
  }

  .landing-top-content p {
    font-size: 0.9rem !important;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 10%;
  }

  .flex-child-hero {
    width: 100%;
  }
}

@media (max-width: 426px) {
  .landing-top-content {
    padding: 30px 0;
  }
}

.campers-images {
  display: none !important;
}

@media (min-width: 1200px) {
  .campers-images {
    display: inline-block !important;
    width: 100%;
    height: 100%;
  }
}

.logo-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin: 10px 0;
}

.logo-row svg {
  height: 40px;
}

@media (min-width: 370px) {
  .logo-row svg {
    margin: 5px 15px;
  }
}

@media (min-width: 480px) {
  .logo-row svg {
    height: 25px;
    margin: 5px;
  }
}

@media (min-width: 550px) {
  .logo-row {
    justify-content: space-between;
  }

  .logo-row svg {
    height: 40px;
  }
}

.landing-top p {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.6rem 0;
}

/* testimonials */

.testimonials-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.testimonials p,
.testimonials strong {
  font-size: 1.1rem;
  margin: 0;
  color: var(--quaternary-color);
}
.testimonial-meta p:last-child {
  margin-top: 15px;
}

.testimonial-card {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  margin: 10px 10px 50px;
  background: var(--gray-00);
  -webkit-box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.09);
  box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.09);
}

.testimonial-image,
.landing-page-image {
  width: 100%;
}

.testimonial-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 0 30px;
}

.testimonial-meta p,
.testimonial-meta strong {
  font-size: 1.2rem;
}

.testimonial-card-header {
  height: 100%;
  padding-bottom: 100%;
  position: relative;
  background-color: var(--primary-background);
}

.testimonial-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.testimonials-footer {
  display: flex;
  flex-direction: column;
  padding: 25px;
  text-align: justify;
  justify-content: center;
  background-color: var(--primary-background);
}
.landing-top,
.certification-section,
.testimonials {
  padding: 4vw 0;
}

.landing-goals-pt-pb {
  padding: 4vw 0 6vw 0;
}

.landing-top-pt-pb {
  padding: 8vw 0 6vw;
}

@media (max-width: 426px) {
  .landing-top-pt-pb {
    padding: 1vw 0 6vw 0;
  }
}

.pt-pb-5 {
  padding: 5vw 0;
}

.map-ui .btn {
  min-height: 80px;
}

@media (min-width: 500px) {
  .landing-top p {
    font-size: 1.25rem;
  }
}

@media (min-width: 992px) {
  .testimonial-card {
    flex-direction: row;
    width: auto;
    max-width: none;
  }
  .testimonial-image {
    width: auto;
    height: 100%;
  }
  .testimonial-meta {
    padding: 0 0 30px;
  }
  .testimonial-meta p,
  .testimonial-meta strong {
    font-size: 1.3rem;
  }
  .testimonials-footer {
    padding: 40px;
  }
  .testimonial-card-header {
    height: 350px;
    min-width: 350px;
    padding-bottom: 0;
  }
}

.img-fluid {
  width: 100%;
  display: block;
}

.hero-heading {
  font-size: 2.5rem;
  overflow-wrap: break-word;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .hero-heading {
    font-size: 2rem;
    overflow-wrap: break-word;
  }
}

.d-flex-hero {
  display: flex;
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

@media (max-width: 426px) {
  .d-flex-hero {
    display: flex;
    flex-direction: column;
  }
}

.hero-main-bg {
  background: url('../../assets/images/Element.svg');
  color: #fff;
  /* background-position: center; */
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #202020;
}

@media (max-width: 767px) {
  .hero-main-bg {
    background: url('../../assets/images/dotted.svg'),
      url('../../assets/images/Element.svg');
    /* color: #fff; */
    /* background-position: center; */
    background-size: contain, contain;
    background-repeat: repeat, no-repeat;
    background-color: #202020;
  }
}

.dotted-bg-top-left {
  background-image: url('../../assets/images/startop.svg');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: left top;
}

.dotted-bg-bottom-right {
  background-image: url('../../assets/images/starbottom.svg');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: right bottom;
}

.dotted-bg {
  background-image: url('../../assets/images/startop.svg'),
    url('../../assets/images/starbottom.svg');
  background-size: 20%, 20%;
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
}
