.nav-bar {
  padding: 10px 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #202020;
}

.link-logo,
.link-logo:hover {
  background: rgba(255, 255, 255, 0);
}

.menu-bar {
  padding: 10px 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #202020;
}

.container:before,
.container:after {
  display: none;
}

.container {
  justify-content: space-between;
  padding: 10px 1rem;
}
.logo img {
  width: 140px;
  /* height: 40px; */
}

.nav-bar #show-menu,
.nav-bar .menu-icon {
  display: none;
}

.nav-bar .menu-icon {
  width: 20px;
  margin-bottom: 0px !important;
}

.nav-bar .menu-icon {
  color: var(--gray-00);
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}

.nav-bar .nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-bottom: 0px !important;
}

.nav-list .navatar {
  padding: 5px 8px;
  display: flex;
}

.nav-list .nav-item {
  padding: 5px 8px;
}

.nav-list .nav-item a {
  padding: 8px;
  text-decoration: none;
  color: var(--gray-00);
  font-weight: 600;
  transition: all 0.3s ease;
}

.nav-list .nav-item a:hover,
.nav-list .nav-item a:focus,
.nav-list .nav-item .active {
  color: var(--love-light);
  background: rgba(255, 255, 255, 0) !important;
}

.nav-list .nav-item .nav-signin-btn {
  padding: 0.5rem 1.875rem;
  text-decoration: none;
  color: var(--gray-00);
  font-weight: 600;
  background: var(--love-light);
  border: solid 2px var(--love-light);
  border-radius: 20px;
  transition: all 0.3s ease;
}

.nav-list .nav-item .nav-signin-btn:hover,
.nav-list .nav-item .nav-signin-btn:focus {
  color: var(--gray-00) !important;
  background: rgba(255, 255, 255, 0) !important;
  border: solid 2px var(--gray-00);
}

.nav-list .nav-item .nav-signout-btn {
  padding: 0.5rem 1.875rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  background: rgba(255, 255, 255, 0);
  border: solid 2px #ffffff;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.nav-list .nav-item .nav-signout-btn:hover,
.nav-list .nav-item .nav-signout-btn:focus {
  color: var(--gray-00) !important;
  background: var(--love-light) !important;
  border: solid 2px var(--love-light);
}

.dropdown-nav-link {
  padding-left: 0;
  padding-right: 0;
}

.dropdown-nav-link:hover .nav-link-lang-dropdown,
.dropdown-nav-link:active .nav-link-lang-dropdown {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.nav-item:hover .nav-link-lang-dropdown,
.nav-item:active .nav-link-lang-dropdown {
  background-color: var(--gray-00);
  color: var(--gray-90);
  cursor: pointer;
}

.nav-link-lang-dropdown {
  padding: 0 15px;
  color: var(--gray-00);
  background-color: var(--gray-90);
  width: 100%;
  border: none;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23ffffff%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-size: 10px;
  background-position: calc(100% - 15px) center;
  background-repeat: no-repeat;
}

.nav-link-lang-dropdown:focus {
  outline: none;
}

.avatar-nav-link {
  display: block;
  height: 40px;
  width: 40px;
}

.avatar-nav-link:hover,
.avatar-nav-link:focus {
  background-color: var(--theme-color);
}

.avatar-nav-link .avatar-container {
  height: 100%;
}

.avatar-nav-link .avatar-container svg,
.avatar-nav-link .avatar-container img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.bg-light {
  background: rgb(255, 255, 255);
}

@media (max-width: 1024px) {
  .nav-bar {
    padding: 10px 1rem;
  }

  .nav-list .nav-item a {
    font-size: medium;
  }
}

@media (max-width: 1000px) {
  .nav-bar {
    padding: 10px 1rem;
  }

  /* For mobile: */
  .logo img {
    width: 120px;
    /* height: 30px; */
  }

  .nav-bar .menu-icon {
    display: block;
  }
  .nav-bar .nav-list {
    z-index: 990;
    text-align: center;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 50;
    right: 0;
    background: #202020;
    transition: all 0.5s ease-in-out;
    margin-top: 10px;
  }

  .nav-list .nav-item {
    margin: 20px 0;
  }

  .nav-list .nav-item a {
    font-size: small;
  }

  .nav-list .navatar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .nav-bar .show-menu {
    display: block;
  }

  .disable-scroll {
    overflow-y: hidden;
  }
}

@media (max-width: 800px) {
  .container {
    justify-content: space-between;
    padding: 10px 1rem;
    margin: 0;
    width: 100%;
  }
  .menu-bar {
    padding: 0 0.2rem;
  }
}
