.nav-bar {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--theme-color);
}

.nav-bar .logo img {
  height: 40px;
}

.nav-bar #show-menu,
.nav-bar .menu-icon {
  display: none;
}

.nav-bar .menu-icon {
  width: 20px;
}

.nav-bar .menu-icon {
  color: var(--gray-90);
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}

.nav-bar .nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-list .navatar {
  padding: 5px 8px;
  display: flex;
}

.nav-list .nav-item {
  padding: 5px 8px;
}

.nav-list .nav-item a {
  padding: 8px;
  text-decoration: none;
  color: var(--gray-90);
  font-weight: 600;
  transition: all 0.3s ease;
}

.nav-list .nav-item a:hover,
.nav-list .nav-item a:focus,
.nav-list .nav-item .active {
  color: var(--love-light);
  background: rgba(255, 255, 255, 0) !important;
}

.nav-list .nav-item .nav-signin-btn {
  padding: 8px 10px;
  text-decoration: none;
  color: var(--gray-00);
  font-weight: 600;
  background: var(--love-light);
  border-radius: 9px;
  transition: all 0.3s ease;
}

.nav-list .nav-item .nav-signin-btn:hover,
.nav-list .nav-item .nav-signin-btn:focus {
  color: var(--gray-00) !important;
  background: var(--love-dark) !important;
}

.dropdown-nav-link {
  padding-left: 0;
  padding-right: 0;
}

.dropdown-nav-link:hover .nav-link-lang-dropdown,
.dropdown-nav-link:active .nav-link-lang-dropdown {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.nav-item:hover .nav-link-lang-dropdown,
.nav-item:active .nav-link-lang-dropdown {
  background-color: var(--gray-00);
  color: var(--gray-90);
  cursor: pointer;
}

.nav-link-lang-dropdown {
  padding: 0 15px;
  color: var(--gray-00);
  background-color: var(--gray-90);
  width: 100%;
  border: none;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23ffffff%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-size: 10px;
  background-position: calc(100% - 15px) center;
  background-repeat: no-repeat;
}

.nav-link-lang-dropdown:focus {
  outline: none;
}

.avatar-nav-link {
  display: block;
  height: 40px;
  width: 40px;
}

.avatar-nav-link:hover,
.avatar-nav-link:focus {
  background-color: var(--theme-color);
}

.avatar-nav-link .avatar-container {
  height: 100%;
}

.avatar-nav-link .avatar-container svg,
.avatar-nav-link .avatar-container img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.hero-section {
  width: 100%;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hero-section p,
.hero-section div {
  padding: 10px;
  width: 50%;
}

.hero-section .hero-title {
  font-size: 2em;
  width: 100%;
}

.hero-section .hero-led {
  font-size: 1.5em;
  width: 100%;
}

.hero-section .img-fit {
  width: 100%;
  object-fit: cover;
}

.basic-section {
  width: 100%;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.basic-section p,
.basic-section div {
  padding: 10px 0;
  width: 30%;
}

.pt-20-10vh {
  padding-top: 20vh;
  padding-bottom: 10vh;
}

.p-10vh {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.bg-light {
  background: rgb(255, 255, 255);
}

@media (max-width: 426px) {
  /* For mobile: */
  .nav-bar .logo img {
    height: 30px;
  }

  .nav-bar .menu-icon {
    display: block;
  }
  .nav-bar .nav-list {
    z-index: 998;
    text-align: center;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 50px;
    left: 0;
    background: var(--theme-color);
    transition: all 0.5s ease-in-out;
  }

  .nav-list .nav-item {
    margin: 20px 0;
  }

  .nav-list .navatar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .nav-bar #show-menu:checked ~ .menu-icon i::before {
    content: 'X' /*"\f00d"*/ /*"after"*/;
  }

  .nav-bar #show-menu:checked ~ .nav-list {
    display: block;
  }

  .hero-section,
  .basic-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-section p,
  .basic-section p,
  .hero-section div,
  .basic-section div {
    width: 100%;
  }
}
