.pull {
  float: right;
}

.push {
  gap: 1rem;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  width: 17rem;
}

.push__card {
  gap: 1rem;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  width: 15rem;
}

img {
  width: 100%;
  display: block;
}

/* .duration p {
  font-weight: 600;
  color: red;
  display: inline;
} */

.duration {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: flex-start;
}

.course-level {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-level {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* .course-level p {
  color: black;
  font-weight: 600;
} */

.level-card {
  display: flex;
  align-items: flex-start;
  gap: 0.3rem;
  color: red;
}

.clock__time {
  text-align: center;
  margin-left: 0.2rem;
}

/*Card Styling*/
.img-badge {
  height: auto;
  width: 64px;
  padding-bottom: 1.8rem;
  padding-left: 0.5rem;
}
.card-outlin-border {
  border: solid 1px #2b292b;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 30.6rem;
  align-items: stretch;
  justify-content: space-between;
}

.card-outlin-border-skeleton {
  border: solid 1px #2b292b;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-course-detail-back {
  width: 31%;
  height: auto;
  margin-bottom: 5%;
}

.card-course-detail-item {
  display: flex;
  align-items: center;
  align-items: stretch;
  padding: 5%;
}

.card-course-detail-header {
  height: auto;
  overflow: hidden;
}
.card-title {
  display: flex;
  align-items: center;

  height: auto;
}

.card-course-detail-footer {
  padding: 0% 5%;
  overflow: hidden;
}

.card-course-detail-logo {
  width: 25%;
  padding: 5%;
}

.clock {
  width: 10%;
  margin: 0.1rem;
}

.card-course-detail-logo-sponsor {
  width: 40%;
  padding: 5%;
}

.play {
  width: 100%;
}

.card-title-w60 {
  width: 60%;
}

.card-description-font-size {
  border: 1px red solid !important;
  height: 5rem;
  font-size: 14px;
}

.link-course:hover {
  color: var(--love-light);
}

/*Card Flex Code*/

.position-relative {
  position: relative;
  top: -15px;
  left: -15px;
}

.row-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.card-course-detail-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.7rem;
  margin-left: 1vw;
  width: 100%;
}

.parcours-description {
  font-size: 1.5rem;
}

.card-course-detail-container a {
  display: contents;
}

.card-link {
  display: contents;
}

.card-course-detail-unit {
  margin: 0;
  padding: 0;
  min-height: max-content;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

/*Card Skeleton*/

.skeleton-badg {
  background: #eee;
  min-height: 1.5rem;
}

.skeleton-logo-icon {
  min-height: 5.625rem;
  margin: 1.5rem;
  width: 30%;
}

.skeleton-title {
  min-height: 1.5rem;
  margin: 0.8rem 0 1.5rem 0;
  width: 50%;
}

.skeleton-content {
  min-height: 1.5rem;
  margin: 0.5rem 0;
  width: 100%;
}

.skeleton-link {
  min-height: 2.875rem;
  width: 30%;
}

.link {
  text-decoration: none;
}

.duration__language {
  display: flex;
  align-items: flex-start;
  gap: 0.3rem;
}

.skeleton-logo-icon,
.skeleton-title,
.skeleton-content,
.skeleton-link {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@media (max-width: 1024px) {
  .card-course-detail-back {
    width: 47%;
    /* margin-bottom: 5%; */
  }

  .push {
    width: 16rem;
  }

  .push__card {
    width: 17rem;
  }
}

@media (max-width: 768px) {
  .card-course-detail-back {
    width: 47%;
  }

  .card-course-detail-unit {
    width: 100%;
  }

  .push {
    width: 17rem;
  }

  .push__card {
    width: 17rem;
  }
}

@media (max-width: 480px) {
  .card-title-w60 {
    padding-top: 10%;
  }
  .hide-small {
    display: none;
  }

  .row-link {
    width: 8rem;
  }

  .level-card {
    gap: 0.1rem;
  }

  .text-love-light {
    font-size: 1rem;
  }

  .push {
    width: 17rem;
    gap: 6px;
  }

  .push__card {
    width: 17rem;
    gap: 6px;
  }

  .card-course-detail-back {
    width: 95%;
    /* margin-bottom: 10%; */
  }

  .card-outlin-border {
    height: 29rem;
  }

  .card-course-detail-item h4 {
    margin-top: 10%;
  }
}

.flexible {
  flex-grow: 1;

  height: 20%;
}

@media (max-width: 376px) {
  .push {
    width: 15rem;
  }

  .card-outlin-border {
    height: 30rem;
  }

  .push__card {
    width: 15rem;
  }
}

@media (max-width: 320px) {
  .push {
    width: 12rem;
  }

  .card-outlin-border {
    width: 20rem;
    height: 33rem;
  }

  .push__card {
    width: 13rem;
  }
}
