.filter-container {
  width: 100%;
  height: 100%;
  max-height: 80vh; /* Limite la hauteur du conteneur pour permettre le défilement */
  overflow-y: auto; /* Active le défilement vertical */
}

.filter-container_hidden-scrol {
  width: 100%;
  padding: 1rem;
  height: 100%;
  max-height: 80vh; /* Limite la hauteur du conteneur pour permettre le défilement */
}

.filter__container {
  width: 9rem;
}

.filter-items-container {
  gap: 1rem;
}
.hidden-filter-on-Catalogue {
  display: none;
  visibility: hidden;
}
.language__Label {
  display: flex;
  gap: 0.2rem;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  align-items: baseline;
  font-weight: 500;
}

.pagination-container {
  display: flex;
  align-items: center;
}

.main-title-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.main-title-filter-container > svg {
  display: none;
}

.card-filter-container {
  display: flex;

  gap: 4%;
}

.filter-title {
  font-size: large;
  font-weight: bold;
}

.filter-button {
  border: none;
  background-color: inherit;
  display: block;
  padding: 0;
  margin: 0;
  text-align: left;
}

.filter-button:hover {
  border: none;
  background-color: inherit;
  color: red;
}

@keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}
.card-courses-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  width: 90%;
}
details[open] > *:not(summary) {
  animation: details-show 300ms ease-in-out;
}

.selected-category {
  color: red;
  font-weight: bold;
}

.title-selected-filter {
  border-bottom: 1px solid grey;
  padding: 20px 0px;
}

.filter-items-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-title-container {
  display: flex;
  gap: 5px;
  cursor: pointer;
  /* align-items: center; */
}

.show-filter-button {
  display: none;
}

@media (max-width: 1024px) {
  .pagination-container {
    margin-top: 4rem;
  }
  .course__number p,
  span {
    font-size: 1.5rem;
  }
}

@media (max-width: 993px) {
  .show-filter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    border-radius: 30px;
    border: 2px solid #e60000;
    width: 100%;
    /* border-color: red; */
    background: inherit;
    transition: all 300ms;
  }
  .course__number p,
  span {
    font-size: 1.5rem;
  }
  svg {
    transition: all 300ms;
  }
  .show-filter-button:hover > svg {
    fill: white;
  }

  .show-filter-button:hover {
    background-color: #e60000;
    border: #e60000 2px solid;
  }
  .filter-container {
    /* display: none; */
    position: fixed;
    top: 55px;
    left: 0;
    padding: 20px;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255);
    z-index: 1000;
    color: white;
  }
  .pagination-container {
    margin-top: 2rem;
  }

  .main-title-filter-container > svg {
    display: block;
    cursor: pointer;
  }

  .pagination-container {
    padding-left: 2%;
  }
}

@media (max-width: 768px) {
  .card-courses-detail-container {
    padding: 2px;
    gap: 0%;
  }
  .card-courses-detail-container {
    width: 100%;
  }
  .course__number p,
  span {
    font-size: 1rem;
  }
}

@media (max-width: 468px) {
  .course__number p,
  span {
    font-size: 1rem;
  }
}
